In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/riankurniawan/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/riankurniawan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/riankurniawan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/riankurniawan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/riankurniawan/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('rian_activity.csv')
df.head(5)

,Date,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking or running,Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count,Walk Heart Avg
0,1/4/22,213.669,5,2103.876,1.408,84.013,70.0,43,3183.244,110.0
1,1/5/22,462.683,12,2314.592,1.430,79.085,66.0,68,3141.388,115.0
2,1/6/22,270.017,7,2170.818,1.955,82.279,65.0,52,4575.000,114.0
3,1/8/22,371.465,10,2241.646,1.725,78.084,62.0,74,3767.700,110.0
4,1/9/22,446.727,12,2242.032,1.970,75.278,52.0,103,4303.000,109.0

In [4]:
df.dtypes

Date                              object
Active energy burned(Cal)        float64
Apple Watch stand hours(hr)        int64
Basal energy burned(Cal)         float64
Distance walking or running      float64
Heart rate(count/min)            float64
Resting heart rate(count/min)    float64
Stand time(min)                    int64
Step count                       float64
Walk Heart Avg                   float64
dtype: object

In [5]:
df.describe()

,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking or running,Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count,Walk Heart Avg
count,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000
mean,428.829150,10.719626,2178.593748,2.136056,79.150467,63.406542,91.317757,4658.491430,111.266355
std,130.820238,2.847688,211.552908,0.795320,4.778352,6.345824,40.689714,1706.647646,8.996938
min,121.493000,3.000000,892.645000,0.671000,68.957000,52.000000,18.000000,1438.000000,91.000000
25%,366.391000,9.000000,2159.457500,1.634500,76.047000,60.000000,66.000000,3577.000000,105.750000
50%,430.965000,11.000000,2217.711000,1.970000,78.705000,62.000000,91.000000,4398.552000,111.000000
75%,499.494500,13.000000,2268.092000,2.489500,81.251000,68.000000,110.500000,5427.000000,116.750000
max,787.629000,18.000000,2448.128000,5.253000,97.149000,83.000000,267.000000,11244.000000,134.000000

In [8]:
df[['Step count', 'Distance walking or running']]

     Step count  Distance walking or running
0      3183.244                        1.408
1      3141.388                        1.430
2      4575.000                        1.955
3      3767.700                        1.725
4      4303.000                        1.970
..          ...                          ...
102    2817.000                        1.235
103    5837.000                        2.757
104    5830.209                        2.763
105    2799.492                        1.312
106    5146.771                        2.385

[107 rows x 2 columns]

In [13]:
df[df['Distance walking or running'] > 4]

,Date,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking or running,Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count,Walk Heart Avg
43,3/5/22,425.654,10,2112.933,4.046,86.976,76.0,100,8964.525,122.0
81,7/16/22,740.924,13,2380.782,4.845,88.506,74.0,267,10552.000,111.0
92,8/22/22,774.766,13,2310.383,4.841,75.683,56.0,220,10209.000,112.0
94,8/24/22,787.629,18,2345.721,5.253,80.714,64.0,201,11244.000,108.5

In [14]:
df[(df['Distance walking or running'] > 3) & (df['Distance walking or running'] < 5)]

,Date,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking or running,Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count,Walk Heart Avg
11,1/18/22,694.650,14,2316.934,3.798,79.041,59.0,138,8072.000,122.5
43,3/5/22,425.654,10,2112.933,4.046,86.976,76.0,100,8964.525,122.0
57,3/30/22,684.476,15,2448.128,3.103,81.217,54.0,171,6709.000,119.0
60,4/2/22,546.527,10,2220.443,3.294,81.021,61.0,102,7087.000,126.0
74,7/8/22,230.171,6,892.645,3.085,72.650,54.0,61,7081.000,93.0
75,7/9/22,301.204,8,2165.955,3.042,85.787,57.0,70,6873.113,115.0
81,7/16/22,740.924,13,2380.782,4.845,88.506,74.0,267,10552.000,111.0
92,8/22/22,774.766,13,2310.383,4.841,75.683,56.0,220,10209.000,112.0